div.content-app{
    height: 100vh;
    background-color: #f3f3f3;

    div.content-crud{
        padding: 40px;
    }

    @media only screen and (max-width: 992px) {
        div.content-crud{
            padding: 10px;
        }
    }
}