nav.navbar{
    background-color: #9dadba;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    div.circle{
        width: 18px;
        height: 18px;
        border-radius: 50%;
        margin: 0px 5px;
        background-color: #8c9ca9;
    }
}