<div class="content-listado">
    Listado de Pokemon
    <div class="acciones">
        <div class="content-buscador">
            <input type="text" class="input-control input-search" placeholder="Buscar...">
        </div>
        <div class="content-btn-add">
            <button class="btn-add">
                + Nuevo
            </button>
        </div>
    </div>

    <div class="table-pokemon">
        <table>
            <thead>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Ataque</th>
                <th>Defensa</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                <tr>
                    <td>Pikachu</td>
                    <td>src</td>
                    <td>65</td>
                    <td>38</td>
                    <td>iconos</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
