div.content-listado{
    div.acciones{
        margin-top: 12px;
        display: flex;
        justify-content: space-between;
        div.content-buscador{
            input.input-search[type=text]{
                background-image: url('../../../../assets/icons/searchicon.png');
                background-position: 10px 10px;
                background-repeat: no-repeat;
                padding-left: 35px;
            }
        }
        button.btn-add{
            background-color: var(--color-principal-btn);
            color: white;
            height: 40px;
            border: none;
            padding: 0px 22px;
            font-size: 15px;
            border-radius: 4px;
        }
    }

    div.table-pokemon{
        margin-top: 30px;
        background-color: white;
        table{
            width: 100%;
            border-top: 2px  solid #8c9ca9;
            border-left: 2px  solid #8c9ca9;
            border-right: 2px  solid #8c9ca9;
            border-spacing: 0px;
            th{
                border-left: 2px solid #8c9ca9;
                &:first-child{
                    border-left: none;
                }
                border-bottom: 2px solid #8c9ca9; 
                padding: 8px 0px; 
            }
            tbody{
                tr{
                    td{
                        border-left: 2px solid #8c9ca9;
                        border-bottom: 2px solid #8c9ca9;
                        padding: 8px 12px;
                        &:first-child{
                            border-left: none;
                        }
                        &.center{
                            text-align: center;
                        }
                        &.btn-acciones{
                            button{
                                border:none;
                                margin: 0px 8px;
                                color: var(--color-principal-btn);
                                background-color: white;
                                i{
                                    font-size: 20px;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
    }

    div.cards{
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 10px;
        grid-gap: 25px;
        margin-top: 30px;
        div.card-pokemon{
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            &:hover{
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }
            div.image{
                width: 140px;
                height: 140px;
                text-align: center;
                margin: auto;
                border-radius: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            div.labels{
                margin-top: 20px;
            }
            div.opciones{
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                button{
                    border:none;
                    margin: 0px 8px;
                    color: var(--color-principal-btn);
                    background-color: white;
                    i{
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .no-data{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media only screen and (max-width: 800px) {
        div.cards{
            grid-template-columns: auto auto auto;
        }
    }

    @media only screen and (max-width: 645px) {
        div.cards{
            grid-template-columns: auto auto;
        }
    }

    @media only screen and (max-width: 500px) {
        div.cards{
            grid-template-columns: auto;
        }
    }
}

